HercRental-main/invoice-generation/fop_template_v3/us_equipment_sales_invoice/us_rental_invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Simple Types -->
	<xs:simpleType name="ZipCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}(-\d{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\(\d{3}\) \d{3}-\d{4}" />
			<xs:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((0?[1-9]|1[0-2])/(0?[1-9]|[12][0-9]|3[01])/([0-9]{2}|[0-9]{4}))" />
			<xs:pattern value="((0?[1-9]|1[0-2])/(0?[1-9]|[12][0-9]|3[01])/([0-9]{2}|[0-9]{4}) ([01]?[0-9]|2[0-3]):[0-5][0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*\$?\s*-?([0-9]{1,3})(,?[0-9]{3})*(\.[0-9]{1,3})?\s*|N/C" />
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceNoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{7,8}(-[0-9]{3})?|[0-9]{11})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Root Element -->
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PdfName" type="xs:string"/>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Logo" type="xs:string"/>
							<xs:element name="Image" type="xs:string"/>
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Line1" type="xs:string"/>
										<xs:element name="Line2" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="StateType"/>
										<xs:element name="ZipCode" type="ZipCodeType"/>
										<xs:element name="Country" type="CountryType"/>
										<xs:element name="Note" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="InvoiceType" >
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Signature" type="xs:string"/>
							<xs:element name="Customer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustNo" >
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Name" type="xs:string" minOccurs="0"/>
										<xs:element name="BillToAddress">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Line1" type="xs:string"/>
													<xs:element name="Line2" type="xs:string"/>
													<xs:element name="City" type="xs:string"/>
													<xs:element name="State" type="StateType"/>
													<xs:element name="ZipCode" type="ZipCodeType"/>
													<xs:element name="Country" type="CountryType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RentedInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InvoiceNo" type="InvoiceNoType"/>
										<xs:element name="InvoiceDate" type="DateType"/>
										<xs:element name="InvoiceAmount" type="xs:string"/>
										<xs:element name="Currency" type="CountryType"/>
										<xs:element name="Terms" type="xs:string"/>
										<xs:element name="ACHPayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BeneficiarysBank" type="xs:string"/>
													<xs:element name="RTNABA" type="xs:string"/>
													<xs:element name="AcctNo" type="xs:string"/>
													<xs:element name="BeneficiarysName" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CheckPayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CompanyName" type="xs:string"/>
													<xs:element name="Address">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Line1" type="xs:string"/>
																<xs:element name="City" type="xs:string"/>
																<xs:element name="State" type="StateType"/>
																<xs:element name="ZipCode" type="ZipCodeType"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OnlinePayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Logo" type="xs:string"/>
													<xs:element name="Website" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PaybyPhone">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Phone" type="PhoneType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="AmountEnclosed" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HeaderNotes" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Detail">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PO" type="xs:string" minOccurs="0"/>
										<xs:element name="ResQuote" type="xs:string"/>
										<xs:element name="Customer" type="xs:string"/>
										<xs:element name="SalesRep" type="xs:string"/>
										<xs:element name="OrderedBy" type="xs:string"/>
										<xs:element name="DeliveredBy" type="xs:string"/>
										<xs:element name="SignedBy" type="xs:string"/>
										<xs:element name="ClosedBy" type="xs:string"/>
										<xs:element name="JobSites">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="JobSite" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RentalEquipment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Equipment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EquipmentQuantity" type="xs:integer"/>
													<xs:element name="Description" type="xs:string"/>
													<xs:element name="IC" type="xs:string"/>
													<xs:element name="EquipmentCatClass" type="xs:string"/>
													<xs:element name="Make" type="xs:string"/>
													<xs:element name="Model" type="xs:string"/>
													<xs:element name="SerialNumber" type="xs:string"/>
													<xs:element name="HRSMINIMUM" type="xs:string"/>
													<xs:element name="HOUR" type="xs:string" minOccurs="0"/>
													<xs:element name="DAY" type="xs:string"/>
													<xs:element name="WEEK" type="xs:string"/>
													<xs:element name="FOURWEEK" type="xs:string"/>
													<xs:element name="AMOUNT" type="AmountType"/>
													<xs:element name="HROUT" type="xs:string" minOccurs="0"/>
													<xs:element name="HRIN" type="xs:string" minOccurs="0"/>
													<xs:element name="TOTAL" type="xs:string" minOccurs="0"/>
													<xs:element name="HRCHG" type="AmountType" minOccurs="0"/>
													<xs:element name="TAXDESC" type="xs:string" minOccurs="0"/>
													<xs:element name="HRAMOUNT" type="AmountType" minOccurs="0"/>
													<xs:element name="Item1" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Description" type="xs:string"/>
																<xs:element name="AMOUNT" type="AmountType"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Item2" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Description" type="xs:string"/>
																<xs:element name="AMOUNT" type="AmountType"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SalesItemsList" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ItemQuantity" type="xs:string"/>
													<xs:element name="Description1" type="xs:string"/>
													<xs:element name="Description2" type="xs:string"/>
													<xs:element name="Unit" type="xs:integer"/>
													<xs:element name="Price" type="AmountType"/>
													<xs:element name="Amount" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Rental_Agreement_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Condition" type="xs:string"/>
										<xs:element name="PaymentNotes">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Line1" type="xs:string"/>
													<xs:element name="Line2" type="xs:string"/>
													<xs:element name="Line3" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ship_To">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Line1" type="xs:string"/>
													<xs:element name="Line2" type="xs:string"/>
													<xs:element name="City" type="xs:string"/>
													<xs:element name="State" type="StateType"/>
													<xs:element name="ZipCode" type="ZipCodeType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rented_From">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Company_Name" type="xs:string"/>
													<xs:element name="Line1" type="xs:string"/>
													<xs:element name="Line2" type="xs:string" minOccurs="0"/>
													<xs:element name="City" type="xs:string"/>
													<xs:element name="State" type="StateType"/>
													<xs:element name="ZipCode" type="ZipCodeType"/>
													<xs:element name="Phone" type="PhoneType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rental_Details">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Days" type="xs:string"/>
													<xs:element name="Hours" type="xs:string"/>
													<xs:element name="InvoiceFromDate" type="DateType"/>
													<xs:element name="InvoiceFromTime" type="xs:string"/>
													<xs:element name="InvoiceToDate" type="DateType"/>
													<xs:element name="InvoiceToTime" type="xs:string"/>
													<xs:element name="RentalStartDate" type="DateType"/>
													<xs:element name="RentalStartTime" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RentalCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OtherCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RentalProtection">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DeliveryCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxableCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Tax">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TotalCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Original" type="AmountType"/>
													<xs:element name="Adjustment" type="AmountType" minOccurs="0"/>
													<xs:element name="Total" type="AmountType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Footer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomerNo" type="xs:string"/>
							<xs:element name="ResOrQuoteNo" type="xs:string"/>
							<xs:element name="InvoiceNo" type="InvoiceNoType"/>
							<xs:element name="InvoiceDate" type="DateType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Distribution">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Email" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EmailTo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EmailCC" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
													<xs:pattern value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MergePDFdoc">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DOC" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DocName" type="xs:string"/>
										<xs:element name="MergeType" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
