HercRental-main/invoice-generation/fop_template/us_cycle_bill_invoice/us_cycle_bill_invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Simple Types -->
	<xs:simpleType name="USZipCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5}(-\d{4})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USPhoneNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\(\d{3}\) \d{3}-\d{4}" />
			<xs:pattern value="\d{3}-\d{3}-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USDateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="((0?[1-9]|1[0-2])/(0?[1-9]|[12][0-9]|3[01])/([0-9]{2}|[0-9]{4}))" />
			<xs:pattern value="((0?[1-9]|1[0-2])/(0?[1-9]|[12][0-9]|3[01])/([0-9]{2}|[0-9]{4}) ([01]?[0-9]|2[0-3]):[0-5][0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*\$?\s*-?([0-9]{1,3})(,?[0-9]{3})*(\.[0-9]{1,3})?\s*|N/C" />
			<xs:pattern value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USStateCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InvoiceNoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{7,8}(-[0-9]{3})?|[0-9]{11})"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Root element -->
	<xs:element name="Invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="PdfName"/>
				<xs:element name="Header">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Logo"/>
							<xs:element type="xs:string" name="Image"/>
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="Line1"/>
										<xs:element type="xs:string" name="Line2" minOccurs="0"/>
										<xs:element type="xs:string" name="City"/>
										<xs:element type="USStateCodeType" name="State"/>
										<xs:element type="USZipCodeType" name="ZipCode"/>
										<xs:element type="xs:string" name="Note" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="InvoiceType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Customer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustNo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element type="xs:string" name="Name"/>
										<xs:element name="BillToAddress">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Line1"/>
													<xs:element type="xs:string" name="Line2" minOccurs="0"/>
													<xs:element type="xs:string" name="City"/>
													<xs:element type="USStateCodeType" name="State"/>
													<xs:element type="USZipCodeType" name="ZipCode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RentedInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="InvoiceNoType" name="InvoiceNo"/>
										<xs:element type="USDateType" name="InvoiceDate"/>
										<xs:element type="AmountType" name="InvoiceAmount"/>
										<xs:element type="xs:string" name="Terms"/>
										<xs:element name="ACHPayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="BeneficiarysBank"/>
													<xs:element type="xs:string" name="RTNABA"/>
													<xs:element type="xs:string" name="AcctNo"/>
													<xs:element type="xs:string" name="BeneficiarysName"/>
													<xs:element type="xs:string" name="RemittanceAdvice"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="CheckPayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="CompanyName"/>
													<xs:element name="Address">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="Line1"/>
																<xs:element type="xs:string" name="City"/>
																<xs:element type="USStateCodeType" name="State"/>
																<xs:element type="USZipCodeType" name="ZipCode"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OnlinePayment">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Website"/>
													<xs:element type="xs:string" name="Info"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PaybyPhone">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="USPhoneNumberType" name="Phone"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element type="xs:string" name="AmountEnclosed" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element type="xs:string" name="HeaderNotes"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Detail">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrderInfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="PONumber"/>
										<xs:element type="xs:string" name="ResQuote"/>
										<xs:element type="xs:string" name="SalesRep"/>
										<xs:element type="xs:string" name="OrderedBy"/>
										<xs:element type="xs:string" name="DeliveredBy" minOccurs="0"/>
										<xs:element type="xs:string" name="SignedBy"/>
										<xs:element type="xs:string" name="ClosedBy" minOccurs="0"/>
										<xs:element type="xs:string" name="Legacy" minOccurs="0"/>
										<xs:element name="JobSites">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="JobSite"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RentalEquipment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Equipment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="EquipmentQuantity"/>
													<xs:element type="xs:string" name="Description"/>
													<xs:element type="xs:string" name="IC"/>
													<xs:element type="xs:string" name="EquipmentCatClass"/>
													<xs:element type="xs:string" name="Make"/>
													<xs:element type="xs:string" name="Model"/>
													<xs:element type="xs:string" name="SerialNumber"/>
													<xs:element type="xs:string" name="HRSMINIMUM"/>
													<xs:element type="xs:string" name="HOUR"/>
													<xs:element type="xs:string" name="DAY"/>
													<xs:element type="xs:string" name="WEEK"/>
													<xs:element type="xs:string" name="FOURWEEK"/>
													<xs:element type="AmountType" name="AMOUNT"/>
													<xs:element type="xs:string" name="HROUT"/>
													<xs:element type="xs:string" name="HRIN" minOccurs="0"/>
													<xs:element type="xs:string" name="HRCHG" minOccurs="0"/>
													<xs:element type="xs:string" name="TAXDESC"/>
													<xs:element type="AmountType" name="HRAMOUNT"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Rental_Agreement_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="Condition"/>
										<xs:element name="PaymentNotes">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Line1"/>
													<xs:element type="xs:string" name="Line2"/>
													<xs:element type="xs:string" name="Line3"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ship_To">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Job"/>
													<xs:element type="xs:string" name="Line1"/>
													<xs:element type="xs:string" name="Line2" minOccurs="0"/>
													<xs:element type="xs:string" name="City"/>
													<xs:element type="USStateCodeType" name="State"/>
													<xs:element type="USZipCodeType" name="ZipCode"/>
													<xs:element name="Country">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:pattern value="[a-zA-Z]*"/>
																<xs:minLength value="2"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element type="USPhoneNumberType" name="Phone"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rented_From">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Company_Name"/>
													<xs:element type="xs:string" name="Line1"/>
													<xs:element type="xs:string" name="Line2" minOccurs="0"/>
													<xs:element type="xs:string" name="City"/>
													<xs:element type="USStateCodeType" name="State"/>
													<xs:element type="USZipCodeType" name="ZipCode"/>
													<xs:element type="USPhoneNumberType" name="Phone"/>
													<xs:element type="xs:string" name="SalesRep"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Rental_Details">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="Days"/>
													<xs:element type="USDateType" name="InvoiceFrom"/>
													<xs:element type="USDateType" name="InvoiceTo"/>
													<xs:element type="USDateType" name="RentalStartDate"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="RentalCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="AmountType" name="Original"/>
													<xs:element type="AmountType" name="Adjustment" minOccurs="0"/>
													<xs:element type="AmountType" name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="OtherCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="AmountType" name="Original"/>
													<xs:element type="AmountType" name="Adjustment" minOccurs="0"/>
													<xs:element type="AmountType" name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TaxableCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="AmountType" name="Original"/>
													<xs:element type="AmountType" name="Adjustment" minOccurs="0"/>
													<xs:element type="AmountType" name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Tax">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="AmountType" name="Original"/>
													<xs:element type="AmountType" name="Adjustment" minOccurs="0"/>
													<xs:element type="AmountType" name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TotalCharges">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="AmountType" name="Original"/>
													<xs:element type="AmountType" name="Adjustment" minOccurs="0"/>
													<xs:element type="AmountType" name="Total"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Distribution">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Email" maxOccurs="unbounded" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EmailTo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EmailCC" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
													<xs:pattern value=""/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>